<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
   <targets>
    <target name="database" xsi:type="Database">
      
      <connectionString>${gdc:item=ConnectionString}</connectionString>
       <commandText>
        INSERT INTO [dbo].[Logs]
          ([IsDeleted]
          ,[CreatedDate]
          ,[UpdatedDate]
          ,[Level]
          ,[Thread]
          ,[Channel]
          ,[RequestId]
          ,[UserId]
          ,[Source]
          ,[Message]
          ,[Data]
          ,[Exception]
          ,[IPAddress]
          ,[UserAgent])
        VALUES
          (0x0
          ,@CreatedDate
          ,@UpdatedDate
          ,@Level
          ,@Thread
          ,@Channel
          ,@RequestId
          ,CASE WHEN LEN(@UserId) = 0 THEN NULL ELSE @UserId END
          ,@Source
          ,@Message
          ,CASE WHEN LEN(@Data) = 0 THEN NULL ELSE @Data END
          ,CASE WHEN LEN(@Exception) = 0 THEN NULL ELSE @Exception END
          ,@IPAddress
          ,@UserAgent);
      </commandText>
      <parameter name="@CreatedDate" layout="${date}" />
      <parameter name="@UpdatedDate" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Thread" layout="${threadid}" />
      <parameter name="@Channel" layout="${gdc:item=Channel}" />
      <parameter name="@RequestId" layout="${mdc:item=RequestId}" />
      <parameter name="@UserId" layout="${mdc:item=UserId}" />
      <parameter name="@Source" layout="${event-properties:item=Source}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Data" layout="${event-properties:item=Data}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
      <parameter name="@IPAddress" layout="${mdc:item=IPAddress}" />
      <parameter name="@UserAgent" layout="${mdc:item=UserAgent}" />
    
    </target>
     <target name="allfile" xsi:type="File"
            fileName="${basedir}\logs\${shortdate}.log"
            encoding="utf-8"
            layout="[${longdate}][${machinename}][${level}] [thread=${threadid}] [Source=${event-properties:item=Source}] [${gdc:item=Channel}/${mdc:item=RequestId}] ${message} [Data=${event-properties:item=Data}] ${exception}" />
  
    <target xsi:type="Null" name="blackhole" />
    <target xsi:type="Null" name="ownFile-web" />
  </targets>
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Trace" writeTo="database" />
     <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog> 